<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="..\assets\images\c3cep.ico" type="image/x-icon">
    <title>Buscador de CEP</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="..\public\css\style.css">
    <link rel="stylesheet" href="..\public\css\about.css">

</head>

<body>
    <header id="header" class="header">
        <div class="border-navigate"></div>
        <img class="logo-c3" src="..\assets\images\c3cep.png" alt="c3cep">
        <nav class="navigate">
            <div class="menu-link"><a href="/">HOME</a></div>
            <div class="menu-link active"><a href="about">SOBRE</a></div>
        </nav>
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            <em id='change-txt'>Ativar MODO ESCURO!</em>
        </div>

        <script src="../public/js/home.js"></script>
    </header>

    <div class="content">

        <section class="section">
            <h3 class="title-section">O que é?</h3>
            <hr class="title-section-line" />
            <h4 class="text-section">O C3 CEP é um buscador de CEP que tem como prioridade auxiliar na busca de CEPs em todo Brasil. Nós utilizamos o Web-service gratuito <a id="link" href="https://viacep.com.br/" target="_blanck">ViaCep</a> para fazer consultas à base de dados. </h4>
            <h4 class="text-section">Integramos a API de geocodificação direta <a id="link" href="https://positionstack.com/" target="_blanck">PositionStack</a> para fazer a conversão do endereço retornado pelo VIACEP em latitude e longitude. </h4>
            <h4 class="text-section">E por fim, com as variáveis de latitude e longitude setadas, conseguimos usar a <a id="link" href="https://developers.google.com/maps/documentation/javascript/overview" target="_blanck">Maps JavaScript API da Google</a> para mostrar a localização no mapa. </h4>
            <h4 class="text-section">O servidor foi feito em <a id="link" href="https://nodejs.org/" target="_blanck">Node.js</a>.</h4>
        </section>

        <section class="section">
            <h3 class="title-section">Sobre Nós</h3>
            <hr class="title-section-line" />
        </section>

        <section class="section section-inline">
            <div class="collaborator">
                <img class="collaborator-image" src="../assets/images/matheus.jpg" alt="Matheus Macedo">
                <h4 class="collaborator-name">Matheus Macedo</h4>
                <h6 class="collaborator-description">GRADUANDO EM <br> ENGENHARIA DE COMPUTAÇÃO</h6>
                <div class="social-media-bar">
                    <a href="https://www.instagram.com/math.macedo/" class="social-media-bar-link" target="blank_">
                        <img class="social-media-bar-item" src="https://img.icons8.com/material-outlined/48/ffffff/instagram-new--v1.png" />
                    </a>
                    <a href="https://www.facebook.com/matheus.sousa.7771" class="social-media-bar-link" target="blank_">
                        <img class="social-media-bar-item" src="https://img.icons8.com/ios-glyphs/30/ffffff/facebook-new.png" />
                    </a>
                    <a href="mailto:macedo.matheus81@gmail.com" class="social-media-bar-link" target="blank_">
                        <img class="social-media-bar-item" src="https://img.icons8.com/color/48/000000/google-logo.png" />
                    </a>


                </div>
            </div>
            <div class="collaborator">
                <img class="collaborator-image" src="../assets/images/maickel.jpg" alt="Maickel Alves">
                <h4 class="collaborator-name">Maickel Alves</h4>
                <h6 class="collaborator-description">GRADUANDO EM <br> ENGENHARIA DE COMPUTAÇÃO</h6>
                <div class="social-media-bar">
                    <a href="https://www.instagram.com/alvesmaickel/" class="social-media-bar-link" target="blank_">
                        <img class="social-media-bar-item" src="https://img.icons8.com/material-outlined/48/ffffff/instagram-new--v1.png" />
                    </a>
                    <a href="https://www.facebook.com/maickel.alves" class="social-media-bar-link" target="blank_">
                        <img class="social-media-bar-item" src="https://img.icons8.com/ios-glyphs/30/ffffff/facebook-new.png" />
                    </a>
                    <a href="mailto:maickel.l.alves@gmail.com" class="social-media-bar-link" target="blank_">
                        <img class="social-media-bar-item" src="https://img.icons8.com/color/48/000000/google-logo.png" />
                    </a>
                </div>
            </div>
        </section>
    </div>

    <footer class="footer">
        <div class="footer-margem">
            <img class="footer-image" src="..\assets\images\c3cep.png" alt="c3cep">
            <h6 class="copyright"> Ⓒ Feito por Matheus Macedo e Maickel Alves </h6>
        </div>
        <nav class="navigate">
            <div class="menu-link"><a href="/">HOME</a></div>
            <div class="menu-link active"><a href="about">SOBRE</a></div>
        </nav>
        <div class="footer-margem"></div>
    </footer>

</body>

</html>