<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="..\assets\images\c3cep.ico" type="image/x-icon">
    <title>Buscador de CEP</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="..\public\css\style.css">
    <link rel="stylesheet" href="..\public\css\home.css">

</head>

<body>
    <header id="header" class="header">
        <div class="border-navigate"></div>
        <img class="logo-c3" src="..\assets\images\c3cep.png" alt="c3cep">
        <nav class="navigate">
            <div class="menu-link active"><a href="home">HOME</a></div>
            <div class="menu-link"><a href="about">SOBRE</a></div>
        </nav>

        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            <em id='change-txt'>Ativar MODO ESCURO!</em>
        </div>

        <script src="../public/js/home.js"></script>


    </header>

    <div class="content">
        <section class="section">
            <h3 class="title-section">Buscar CEP</h3>
            <hr class="title-section-line">
        </section>
        <section class="section comments"></section>

        <section class="section">
            <h3 class="form-title">Digite o CEP desejado e as informações serão completadas!</h3>
            <form onsubmit="formValid(); return false" id='comment-form' class="form">
                <div class="col-1">

                    <div class="form-input">
                        <label> CEP:</label>
                        <input class="input-cep" type="number" placeholder=" CEP" required>
                    </div>
                    <div class="form-input">
                        <label> Rua:</label>
                        <input class="input-rua" type="text" placeholder=" Rua" disabled>
                    </div>
                    <div class="form-input">
                        <label> Bairro:</label>
                        <input class="input-bairro" type="text" placeholder=" Bairro" disabled>
                    </div>
                    <!-- <span class="input-name-error" style="color:red">* CEP Inválido!</span> -->
                    <div class="form-input">
                        <label> Cidade:</label>
                        <input class="input-cidade" type="text" placeholder=" Cidade" disabled>
                    </div>
                    <div class="form-input">
                        <label> Estado:</label>
                        <input class="input-estado" type="text" placeholder=" UF" disabled>
                    </div>
                    <div class="form-input">
                        <label> IBGE:</label>
                        <input class="input-ibge" type="text" placeholder=" IBGE" disabled>
                    </div>
                    <div class="form-input">
                        <div class="menu-link-btn active" style="text-decoration: none;"><a href="/">Nova Requisição</a></div>
                    </div>


                </div>

            </form>
        </section>

        <section class="map-section">

            <div id="map">

                <script>
                    var estados = {
                        'AC': 'Acre',
                        'AL': 'Alagoas',
                        'AP': 'Amapa',
                        'AM': 'Amazonas',
                        'BA': 'Bahia',
                        'CE': 'Ceara',
                        'DF': 'Distrito=+Federal',
                        'ES': 'Espirito+Santo',
                        'GO': 'Goias',
                        'MA': 'Maranhao',
                        'MT': 'Mato+Grosso',
                        'MS': 'Mato+Grosso+do+Sul',
                        'MG': 'Minas+Gerais',
                        'PA': 'Para',
                        'PB': 'Paraiba',
                        'PR': 'Parana',
                        'PE': 'Pernambuco',
                        'PI': 'Piaui',
                        'RJ': 'Rio+de+Janeiro',
                        'RN': 'Rio+Grande+do+Norte',
                        'RS': 'Rio+Grande+do+Sul',
                        'RO': 'Rondonia',
                        'RR': 'Roraima',
                        'SC': 'Santa Catarina',
                        'SP': 'Sao+Paulo',
                        'SE': 'Sergipe',
                        'TO': 'Tocantins',
                    }
                    $('.input-cep').change(function() {
                        var cep = $(this).val();
                        cep = cep.replaceAll('-', "").replaceAll('.', '');
                        if (cep.length == 8) {

                            $('.input-cep').attr('disabled', 'disabled');

                            $.post('/viacep', {
                                cep
                            }, function(dados) {
                                if (dados.erro) {
                                    alert("CEP Invalido, tente novamente!");
                                    window.location.reload();
                                }
                                if (dados) {
                                    $('.input-rua').val(dados.logradouro);
                                    $('.input-bairro').val(dados.bairro);
                                    $('.input-cidade').val(dados.localidade);
                                    $('.input-estado').val(dados.uf);
                                    $('.input-ibge').val(dados.ibge);

                                    var cidade = (dados.localidade).replaceAll(' ', '+');
                                    var rua = (dados.logradouro).replaceAll(' ', '+');

                                    var numero = prompt("Digite o número da localização para saber a geolocalização");

                                    if (numero) {
                                        $.get(`http://api.positionstack.com/v1/forward?access_key=6d35cb62594c193d220e29dc94bef3b1&query=${rua}+${numero}+${cidade}+${estados[dados.uf]}`, function(result) {
                                            var latitude = result.data[0].latitude;
                                            var longitude = result.data[0].longitude;
                                            start(latitude, longitude);
                                        })
                                    }
                                }
                            })
                        }
                    });

                    function start(latitude, longitude) {
                        if (latitude && longitude) {

                            var coords = {
                                lat: latitude,
                                lng: longitude
                            };

                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 15,
                                center: coords
                            });

                            var marker = new google.maps.Marker({
                                position: coords,
                                map: map,
                                title: 'My marker'
                            });
                        }
                    }
                </script>


                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkffNmjp9VX5JRu_pLqckXGEcFLr_XPug&callback=start">
                </script>

            </div>
        </section>

    </div>

    <footer class="footer">
        <div class="footer-margem">
            <img class="footer-image" src="..\assets\images\c3cep.png" alt="c3cep">
            <h6 class="copyright"> Ⓒ Feito por Matheus Macedo e Maickel Alves </h6>
        </div>
        <nav class="navigate">
            <div class="menu-link active"><a href="home">HOME</a></div>
            <div class="menu-link"><a href="about">SOBRE</a></div>
        </nav>
        <div class="footer-margem"></div>
    </footer>

</body>

</html>